@model TinyPOC.Models.SelectTemplateViewModel

@{
    ViewBag.Title = "Create Letter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Select Template</h2>

@foreach (var template in Model.Templates)
{
    <p>@Html.ActionLink(template.Title, "CreateLetter", "Home", new { templateId = template.Id }, null)</p>
}